/* style */

body {
	margin: 100px;
	background-color: #1f1f1f;
	color: #eeeeee;
	overflow: hidden;
	font-weight: normal;
	font-size: 16pt;
	font-family: 'Montserrat', sans-serif;
}

a {
	color: #7ca8ef;
	padding: 8pt;
	display: inline-block;
}
